@import url("https://fonts.googleapis.com/css?family=Josefin+Sans:700");
:root {
  --dark: #333;
  --light: #fff;
  --neutral: #f6f6f6;
  --neutral-dark: #d1d1d1;
  --color: #5607d7;
  --color-light: #941ed2;
  --color-dark: #2719cd;
  --font-stack: "Josefin Sans", "Montserrat", "sans-serif";
}
.hero__wrapper {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  flex-wrap: wrap;
}
.hero__wrapper > * {
  margin: 15px;
}
.hero__phone {
  width: 300px;
  height: 630px;
  background: var(--light);
  background-color: #ffffff;
  background: #fff url("https://codepenworldsfair.com/images/small-worlds-fair.png") center/250px no-repeat;
  border: 12px solid var(--dark);
  border-radius: 36px;
  position: relative;
  overflow: hidden;
}
.hero__phone:before {
  content: "";
  width: 145px;
  height: 25px;
  background: var(--dark);
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translatex(-50%);
  z-index: 1000;
}

.menu__body {
  --x: 0;
  --y: 0;
  --z: 0;
  display: block;
  width: 100%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  position: absolute;
  /*bottom: 0;*/
  z-index: 105;
}



